.left-header .nav-item{
    transition: 0.1s all ease;
    border-bottom: 3px solid var(--bs-white);
}
.left-header .nav-item:hover{
    border-bottom: 3px solid;
    border-color: var(--bs-success);
}
.left-header .nav-item:hover a{
    color: var(--bs-success) !important;
}

.left-header .menu_active{
    border-bottom: 3px solid;
    border-color: var(--bs-success);
}
.left-header .menu_active a{
    color: var(--bs-success) !important;
}

.navbar .dropdown-menu {
    position: absolute;
    left: -110px;
}
#navbar-default .dropdown-toggle:after{
    content: " " !important;
}
#navbar-default .dropdown-toggle i{
    font-size: 23px;
    font-weight: bold;
}

.text-justify{
    text-align: justify !important;
}

.maleFemale:hover {
    cursor: pointer !important;
}

.maleFemale {
    font-size: 15px;
    height: 40px;
    width: 100px;
    border: 1px solid #ebebeb;
    text-align: center;
}
.btn-sık {
    min-width: 150px;
    border-radius: 4px;
}

input[type="radio"] {
    position: absolute;
    visibility: hidden;
}
input[type="radio"] + div {
    position: relative;
}
input[type="radio"]:checked + div {
    background-color:  #754ffe;
}
input[type="radio"]:checked + div>span {
    color: white;
}
input[type="radio"] + div>span {
    position: relative;
    top: 25%;}



input[type="radio"]:checked + div::before {
    font-family: FontAwesome;
    content: "\f08d";
    position: absolute;
    bottom: 31px;
    font-size: 21px;
    color: white;
    right: -5px;
}
