.text-right{
    text-align: right !important;
}
.text-left{
    text-align: left !important;
}
.left-header .nav-item{
    transition: 0.1s all ease;
    border-bottom: 3px solid var(--bs-white);
}
.left-header .nav-item:hover{
    border-bottom: 3px solid;
    border-color: var(--bs-success);
}
.left-header .nav-item:hover a{
    color: var(--bs-success) !important;
}

.left-header .menu_active{
    border-bottom: 3px solid;
    border-color: var(--bs-success);
}
.left-header .menu_active a{
    color: var(--bs-success) !important;
}

.navbar .dropdown-menu {
    position: absolute;
    left: -110px;
}
#navbar-default .dropdown-toggle:after{
    content: " " !important;
}
#navbar-default .dropdown-toggle i{
    font-size: 23px;
    font-weight: bold;
}

.text-justify{
    text-align: justify !important;
}

.maleFemale:hover {
    cursor: pointer !important;
}

.maleFemale {
    font-size: 15px;
    height: 40px;
    width: 100px;
    border: 1px solid #ebebeb;
    text-align: center;
}
.btn-sık {
    min-width: 150px;
    border-radius: 4px;
}

input[type="radio"] {
    position: absolute;
    visibility: hidden;
}
input[type="radio"] + div {
    position: relative;
}
input[type="radio"]:checked + div {
    background-color:  #754ffe;
}
input[type="radio"]:checked + div>span {
    color: white;
}
input[type="radio"] + div>span {
    position: relative;
    top: 25%;}



input[type="radio"]:checked + div::before {
    font-family: FontAwesome;
    content: "\f08d";
    position: absolute;
    bottom: 31px;
    font-size: 21px;
    color: white;
    right: -5px;
}
.search-shabow{
    box-shadow: 1px 1px 38px 8px #4d72681c !important;
}
.card-icon-style{
    font-size: 38px;
    padding: 5px;
    background: #f9f9f9;
    width: 80px;
    height: 80px;
    display: flex;
    color: #36423d;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.section-bg{
    background: #adffe829 !important;
}
.category-card-shadow{
    box-shadow: rgb(0 0 0 / 9%) 0 3px 12px !important;
}
.category-card-hover:hover{
    transform: scale(1.1);
    transition: 0.3s all ease;
}

.review-image{
    height: 300px;
    padding: 20px;
    border-radius: 32px;
}
#countryList{
    position: relative;
    right: -305px;
    top: -25px;
    max-height: 200px;
    max-width: 38%;
    background: white;
    overflow-y: scroll;
}

.employee-card img{
    filter: grayscale(1);
}
.employee-card img:hover{
    filter: unset;
}
.match-height > [class*=col] {
    display: flex;
    flex-flow: column;
}
.match-height > [class*=col] > .card {
    flex: 1 1 auto;
}

.owl-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
    background: #e1e1e1 !important;
    width: 20px !important;
    height: 20px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 1.5rem !important;
    border-radius: 50% !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 26px !important;
    position: absolute;
}

.owl-carousel .owl-nav button.owl-prev{
    left: -3%;
    top: 40%;
}

.owl-carousel .owl-nav button.owl-next{
    right: -3%;
    top: 40%;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded{
    display: flex;
    align-items: center;
    justify-content: center;
}

.job-card-shadow{
    border: 1px solid #f5f5f5;
    box-shadow: 0 4px 10px rgb(0 77 255 / 4%);
}
.small-badge{
    padding: 3px !important;
    font-size: 10px;
    border-radius: 5px;
    color: #747474;
}
.fs-12{
    font-size: 12px !important;
}


/*animations box*/
.animation-box{
    position: absolute;
    border-radius: 10px;
}
.animate-box-1{
    width: 80px;
    height: 80px;
    background: #3389f5;
    left: -100px;
    top: -81px;
    z-index: -1;
}

.animate-box-2{
    width: 100px;
    height: 100px;
    background: #3389f5;
    z-index: -1;
    left: 5px;
    top: -128px;
}


.animate-box-3{
    width: 60px;
    height: 60px;
    background: #3389f5;
    z-index: -1;
    left: 8px;
    top:30px;
}


/*.background-before:after{*/
/*    content: '';*/
/*    width: 100%;*/
/*    height: inherit;*/
/*    background: red;*/
/*    position: absolute;*/
/*}*/






















